

/*Header*/



.header { background-color: $color-header;
    .navbar {
    
        .nav.link {
            color: darkblue;
        }
        
        .navbar a {
            font-weight: 600;
            font-size: 18px;
        }
    
    }

    .header-img {
        width: 15%;
    }

   
}

/*Header Page*/


.header-page {
    @extend .header
}

.header-page {
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url(../images/Fondo.jpg);
    background-attachment: fixed;
}
.section-page-one {
    .card-container{
        margin-left: 0%;
        width: 100%;
    }

    .card-one {
        margin-right: 40%;
        margin-top: 30px;
    }   

    .card-two {
        margin-left: 40%;
        margin-right: 30px;
        margin-top: 30px;
    }
    

    .cb1 {
        background-color: $transparent-cards;
        border: 1px solid transparent;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        color: $color-p;
     }    
    
    .cb2{
        background-color: $transparent-cards;
        border: 1px solid transparent;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        color: $color-p;
        
        text-align: center;
        
        

     }
    }