

/*Header*/



.header { background-color: #85929E    ;
    .navbar {
    
        .navbar-color {
            color: aqua;
        }
    
        .nav.link {
            color: darkblue;
        }
        
        .navbar a {
            font-weight: 600;
            font-size: 18px;
        }
    
    }

    .header-img {
        width: 15%;
    }

    
}

.header-page {
    @extend .header
}

.header-page {
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url(../images/Fondo.jpg);
    background-attachment: fixed;
}