

/*Body*/
.body{ background-color: $color-header ;

    .carousel{

        @include box-shadow;
    }

    
    .box-icon {
        margin-top: 30px;
        
        .i {
            font-size: 50px;
        }
    
        .h3 {
            font-size: 20px;
            font-weight: 800;
        }
    
        color: #D9C5B2;
    }
    
    
    .article {
        margin-top: 80px;
        font-size: 15px;
        
      
    
    }
    .card {
         margin-left: 10px;
         margin-right: 10px;

         background-color: $color-cards ;
        
         border: 1px solid transparent;
         @include box-shadow;
    }

    .cb1 {
        background-color: rgba(225, 225, 225, 0.1);
    }
    
    
    
    .banner {
        padding: 50px;
        margin-bottom: 80px;
        background-color: $color-banner ;
        
        .h2 {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 600;
        }
        
        .img {
            width: px;
        }
    }
}


/*Page*/



.body-page-one{

    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url("../images/Fondo.jpg");
    background-attachment: fixed;


}