

/*Body*/
.body{ background-color: $color-header ;

    
    /*Carousel*/

    .carousel{

        @include box-shadow;
    }

    
    /*Icons*/

    .box-icon {
        margin-top: 30px;
        
        .i {
            font-size: 50px;
        }
    
        .h3 {
            font-size: 20px;
            font-weight: 800;
        }
    
        color: #D9C5B2;
    }
    
    /*Article*/

    .article {
        margin-top: 80px;
        font-size: 15px;
        
      
    
    }
    
    
    /*Cards*/


    .card {
         margin-left: 10px;
         margin-right: 10px;

         background-color: $color-cards ;
        
         border: 1px solid transparent;
         @include box-shadow;
    
        
    
    }
    
    .card {
        
        transition: transform 0.3s ease; 
      }
      
      .card:hover {
        transform: translateY(-5px); 
      }

    .cb1 {
        background-color: rgba(225, 225, 225, 0.1);
    }
    
    
    /*Banner*/
    
    .banner {
        padding: 50px;
        margin-bottom: 80px;
        background-color: $color-banner ;
        
        .h2 {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 600;
        }
        
        .img {
            width: px;
        }

        .img {
            width: 500px;
            transition: transform 0.3s ease;
          }
          
          .img:hover:hover {
            transform: scale(1.1);
          }
    }
}


/*Page*/



.body-page-one{

    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url("../images/Fondo.jpg");
    background-attachment: fixed;


}