@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {font-family: 'Poppins', sans-serif;
}

/*HEADER*/

.navbar-color{
    color: aqua;
}

.header-img{
    width:15%;
}

.nav.link{
    color: darkblue;
}

.navbar a {
    font-weight: 600;
    font-size: 18px;
}








/*BODY*/

.section-img {
    width: 500px;
}


